* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


:root {
    --blue: #0047AB;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.navigation {
    position: fixed;
    width: 250px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 80px;

}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover {
    background-color: var(--white);
}

.navigation ul li:active {
    background-color: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white)
}

.navigation ul li a {
    color: var(--white)
}

.navigation ul li a:hover {
    color: var(--blue)
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}



.navigation ul li:hover a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}




.navigation ul li:hover a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}



.main {
    position: absolute;
    left: 200px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
    width: 85%;
}

.main.active {

    left: 80px;
}

.topbar {
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;


}


.toggle {
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.toggle1 {
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 12;
    cursor: pointer;
    margin-right: 12px;
    margin-top: 2em;
}



.hello-msg {
    font-size: 18px;
    color: var(--blue);
    margin-right: 20px;
}

.cardbox-1,
.cardbox {
    position: relative;
    margin-top: 40px;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}


.cardbox .card {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 7px 25px rgba(1, 0, 0, 0.08);
}


.cardbox-1 .card {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 7px 25px rgba(1, 0, 0, 0.08);
}

.cardbox-1 .card .numbers,
.cardbox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);
}

.cardbox .card .cardName {
    font-size: 1.1em;
    color: var(--black2);
    margin-top: 5px;
}

.cardBox .card .iconBx {
    font-size: 3.5em;
    color: var(--black2);
}

.cardbox .card:hover {
    background-color: var(--blue);
}

.cardbox-1 .card:hover {
    background-color: var(--blue);
}

.cardbox .card:hover .numbers, .cardbox .card:hover .cardName, .cardbox .card:hover .iconBx {
    color: var(--white);
}

.cardbox-1 .card:hover .numbers, .cardbox .card:hover .cardName, .cardbox .card:hover .iconBx {
    color: var(--white);
}



.details .recentOrders {
    position: relative;
    display: grid;
    min-height: 500px;
    background-color: var(--white);
    padding: 20px;
    box-shadow: 0 70px 25px rgba(0, 0, 0, 0.08);
    margin-top: 40px;
    width: fit-content;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
}

.btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.btn-2 {
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;

}

.details {
    width: 100%;
    margin-left: 40px;
}

.details table {
    width: fit-content;
    border-collapse: collapse;
    margin-top: 10px;
}

.details .recentOrders table tr:last-child {
    border-bottom: none;
}

.details table thead td {
    font-weight: 600;
}

.details .recentOrders table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.details .recentOrders table tr td {
    padding: 10px
}

.details .recentOrders table tr td:last-child {
    text-align: end;
}

.details .recentOrders table tr td:nth-child(2) {
    text-align: center;
}

.details .recentOrders table tr td:nth-child(3) {
    text-align: center;
}

.Paid {
    padding: 2px 4px;
    background: green;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.Pending {
    padding: 2px 4px;
    background: red;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}



/* form style */




form {
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    overflow: hidden;
}

form .form {
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}

.form.second {
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}

form.secActive .form.second {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

form.secActive .form.first {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}



form .fields {

    align-items: center;
    justify-content: space-between;

}

form .fields .input-field {
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field label {
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field input, select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field input :focus,
.input-field select:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field select,
.input-field input[type="date"] {
    color: #707070;
}

.input-field input[type="date"]:valid {
    color: #333;
}

form button, .backBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}

form .btnText {
    font-size: 14px;
    font-weight: 400;
}

form button:hover {
    background-color: #265df2;
}

form button i,
form .backBtn i {
    margin: 0 6px;
}

form .backBtn i {
    transform: rotate(180deg);
}

form .buttons {
    display: flex;
    align-items: center;
}

form .buttons button, .backBtn {
    margin-right: 14px;
}


@media (max-width: 750px) {
    form {
        overflow-y: scroll;
    }

    form::-webkit-scrollbar {
        display: none;
    }

    fields .input-field {
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field {
        width: 100%;
    }
}



/* end of form style */



@media (max-width: 991px) {
    .navigation {
        left: -300px;
    }

    .navigation.active {
        width: 300px;
        left: 0;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 300px;
    }

    .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width:768px) {
    .details {
        grid-template-columns: repeat(1, 1fr);
    }

    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .navigation.active {
        width: 100%;
        left: 0;
    }

    .toggle {
        z-index: 10001;
    }

    .main.active .toggle {
        color: #fff;
        position: fixed;
        right: 0;
        left: initial;
    }
}

.button {
    margin-left: 50%;
}

/* .table-1 th{
    border:2px solid black;
    height: 50px;
}
.table-1{
    border-collapse: collapse;
    width:100%;
    margin-top: 15px;

     
} */






/* Analysis board */


body {
    background-color: #f1f3f3;
}

/*Bottom Area*/
.bottomArea {
    background-color: #424243;
    height: 8rem;
    color: #fff;
    font-size: .8rem;
    position: relative;
    bottom: 0;
    left: 0;
}

.bottomArea p {
    font-size: .7rem;
}

.bottomArea h5 {
    font-weight: 800;
    font-size: 16px;
}

h3, h4 {
    font-weight: 200;
    color: #424243;

}

h4 {
    color: #b8b8b8;
    font-weight: 200;
    text-transform: uppercase;
}

.totalNum {
    color: #40bb3d;
    font-weight: bold;
    font-size: 5rem;
}

.graphSec {
    /* margin: 5px; */
    box-shadow: 0 0 10px rgba(173, 176, 180, 0.3);
    background-color: #fff;
}

.newSalesArea {
    box-shadow: 0 0 10px rgba(173, 176, 180, 0.3);
    background-color: #fff;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.descText {
    color: #a8a8a8;
    font-size: 1rem;
}

.modal-header {
    background-color: #7a7c7f;
    color: #fff;
    border-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.modal-title {
    font-weight: 200;
}

.close {
    color: #fff;
}

.close:hover {
    color: rgb(192, 192, 192);
}

.btn {
    border-radius: 1.25rem;
}

.modal-content {
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, .1);
}

.w-90 {
    width: 90% !important;
}

.w-60 {
    width: 60% !important;
}

.h-30 {
    width: 30% !important;
}

.w-20 {
    width: 20% !important;
}

.w-10 {
    width: 10% !important;
}

.w-5 {
    width: 5% !important;
}

.h-30 {
    height: 30% !important;
}

/*Responsive code*/
@media (min-width: 576px) {}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}