{%block content%}
{%load static%}
{%include 'tasks/main.html'%}


<!-- main -->

<div class="main">
    {%include 'tasks/topbar.html'%}
    <div class="details">
        <div class="recentOrders">
            <div class="cardHeader">
                <h2>Welcome</h2>

            </div>

            <div class="dashboardbuttons">
                <a class="btn-2" href="">client list</a>

                <a class="btn-2" href="">Task List</a>

                <a class="btn-2" href="">paid task list</a>

            </div>
            
            <div class="search">
                <label>
                    <input type="text" placeholder="Search here">
                    <ion-icon name="search-outline"></ion-icon>
                </label>
            </div>

            {%if Client_List %}
            <table>
                <thead>
                    <tr>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Status</th>
                        <th>View</th>
                    </tr>
                </thead>

                <tbody>
                    {%for client in Clients%}

                    <tr>
                        <td>{{client.FirstName}}</td>
                        <td>{{client.LastName}}</td>
                        <td>{{client.is_taskhandler}}</td>
                        <td><a class="btn btn-info" id="view" href="{%url 'ClientsDetail' client.id%}">View</a></td>

                    </tr>

                    {%endfor%}
                </tbody>


            </table>
        
            {%else%}
            <h1>This is the real deal</h1>

            {%endif%}
        </div>
    </div>
</div>




{%endblock %}