<div class="cardbox">

    <div class="card">
        <div>
            <div class="numbers">{{tasks_submitted}}</div>
            <div class="cardName">Number of Given tasks</div>
        </div>

        <div class="iconBx">
            <ion-icon name="eye-outline"></ion-icon>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">{{tasks_total.total}}</div>
            <div class="cardName">Total Task Amount</div>
        </div>

        <div class="iconBx">
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        </div>
    </div>
    <div class="card">

        <div>
            <a href="{% url 'create_Task'%}" style="text-decoration:none;">
                <div class="numbers"> + </div>
                <div class="cardName">Give us a task</div>
            </a>
        </div>

        <div class="iconBx">
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        </div>

    </div>
    <div class="card">

        <div>
           
            <a href="{% url 'ReportPoolPage'%}" style="text-decoration:none;">
                <i style="color:red;"
                class="fa fa-flag fa-3x" aria-hidden="true"></i>
                <div class="cardName">Reported Tasks</div>
            </a>
        </div>

        <div class="iconBx">
           <h2 style="color:red ;">{{total}}</h2> 
        </div>

    </div>

</div>


<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
<script src="https://kit.fontawesome.com/eee1c61c40.js" crossorigin="anonymous"></script>
