<div class="cardbox">

    <div class="card">
        <div>
            <div class="numbers">{{tasks_submitted}}</div>
            <div class="cardName">Number of Given tasks</div>
        </div>

        <div class="iconBx">
            <ion-icon name="eye-outline"></ion-icon>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">{{tasks_total.total}}</div>
            <div class="cardName">Total Task Amount</div>
        </div>

        <div class="iconBx">
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        </div>
    </div>
    <div class="card">

        <div>
            <a href="{% url 'create_Task'%}" style="text-decoration:none;">
                <div class="numbers"> + </div>
                <div class="cardName">Give us a task</div>
            </a>
        </div>

        <div class="iconBx">
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        </div>

    </div>

</div>