{%block content%}
{%load static%}
{%include 'tasks/main.html'%}


<!-- main -->

<div class="main">
    {%include 'tasks/topbar.html'%}
    {{myFilter.form}}
    <div class="details">
        <div class="recentOrders">
            <div class="cardHeader">
                <h2>Tasks Claimed</h2>
                <br>
                <a href="{%url 'dashboard'%}" class="btn btn-warning">&#8592;Back to dashboard</a>

            </div>

            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Deadline</th>
                        <th>Proposed Price</th>
                        <th>Status</th>
                        <th>Submit Task</th>
                    </tr>
                </thead>

                <tbody>
                    {%for task in tasks_1%}


                    {%if task.status == "Submitted"%}
                    <tr>
                        <td>{{task.title}}</td>
                        <td>{{task.category}}</td>
                        <td>{{task.deadline}}</td>
                        <td>{{task.Proposed_price}}</td>
                        <td>{{task.status}}</td>
                        <td><a class="btn btn-info" style="background:green;">Completed</a></td>
                    </tr>

                    {%elif task.status == "Paid"%}
                    <tr>
                        <td>{{task.title}}</td>
                        <td>{{task.category}}</td>
                        <td>{{task.deadline}}</td>
                        <td>{{task.Proposed_price}}</td>
                        <td>{{task.status}}</td>
                        <td><a class="btn btn-info" style="background:green;">Completed</a></td>
                    </tr>


                    {%else%}


                    <tr class="tasks">
                        <td>{{task}}</td>
                        <td>{{task.category}}</td>
                        <td>{{task.deadline}}</td>
                        <td>{{task.Proposed_price}}</td>
                        <td id="status">{{task.status}}</td>
                        <td><a class="btn btn-info" id="view" href="{%url 'submit_task' task.id %}">Submit Task</a></td>

                    </tr>
                    {%endif%}
                    {%endfor%}
                </tbody>

            </table>

            <h1>TOTAL AMOUNT: {{Total_amount.total}} </h1>
        </div>
    </div>
</div>




{%endblock %}