{%load static%}
{%block content%}
{% load static tailwind_tags %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}



<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SmallTasksOnline</title>
    <link rel="shortcut icon" href="{%static 'images/favicon.ico'%}">
    <title>Manage landing page</title>
    {% tailwind_css %}
</head>

<body>


    {%include 'tasks/main.html'%}
    {%include 'tasks/topbar.html'%}



    <div class="max-w-4xl md:ml-[330px] text-left bg-white" id="claimed-container">
        <button>
            <a class="hidden md:block bg-brightRedLight  hover:bg-gray-900 focus:shadow-outline focus:outline-none text-white font-bold py-3 mx-4 rounded-full"
                type="button" href="{%url 'taskpool'%}">Back to Taskpool</a>
        </button>

        <h1 class="text-center text-2xl">Report Page</h1>

        <!-- The grid parent -->
        <div class="mt-12 auto container grid grid-cols-5">


            <!-- Header section -->
            <header class="col-span-5 p-10 bg-amber-200">
                <h2 class="text-center text-2xl">TITLE: {{task.title}}</h2>
                <div class="text-center">

                    <span class="underline text-xl ">
                        Hello, Kindly fill below stating the reason for your report
                    </span>

                </div>


            </header>

            <main class="col-span-10 md:col-span-5 h-96 p-10 bg-blue-200">
                <h1 class="text-center text-2xl">Description</h1>
                <p class="text-xl"> {{task.description | safe}}</p>

                <hr class="my-2 text-black">
                <hr class="my-2 text-black">
                <h1 class="text-center text-2xl">Details</h1>

                <table class="mt-4 w-full mx-auto" id="table">
                    <thead class="bg-gray-50 border-b-2 border-gray-200">
                        <tr>

                            <th
                                class="hidden md:table-cell  md:p-3 text-base text-center font-semibold tracking-wide text-center">
                                Category</th>
                            <th
                                class="md:table-cell  md:p-3 text-base text-center font-semibold tracking-wide text-center">
                                Deadline</th>
                            <th id="proposed-price"
                                class="md:table-cell md:p-3 text-base text-center font-semibold tracking-wide text-center">
                                Proposed Price</th>
                            <th id="proposed-price"
                                class="hidden md:table-cell md:p-3 text-base text-center font-semibold tracking-wide text-center">
                                Status</th>
                            <th id="proposed-price"
                                class="md:table-cell md:p-3 text-base text-center font-semibold tracking-wide text-center">
                                Download documents</th>

                    </thead>

                    <tbody>


                        <tr>


                            <td class="hidden md:table-cell md:w-25 text-left p-3 text-base text-gray-700">
                                {{task.category}}
                            </td>
                            <td class="md:table-cell md:w-25 text-left p-3 text-base text-gray-700">
                                {{task.deadline}}
                            </td>
                            <td class="md:table-cell md:w-15 text-left p-3 text-base text-gray-700">
                                {{task.Proposed_price}}</td>
                            <td class="hidden md:table-cell md:w-15 text-left p-3 text-base text-gray-700">
                                {{task.status}}</td>
                            <td class="w-20 text-left p-3 text-base text-gray-700">
                                {% if task.file %}
                                <a href=" {{task.file.url}}"
                                    class="w-20 p-1.5 text-base font-medium uppercase tracking-wider whitespace-nowrap bg-green-700 rounded-lg bg-opacity-50">Donwload
                                    Documents</a>
                                {% else %}
                                <p>The work has no files attached</p>
                                {%endif%}


                            </td>
                        </tr>

                    </tbody>



                </table>



            </main>

            <footer class="mt-12 col-span-5 p-10 bg-blue-200">
                <h1 class="text-center text-2xl underline">REPORT/COMPLAIN BELOW</h1>

                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="cardHeader">
                        <h2>Explain the Complaint below </h2>
                    </div>

                    <div class="">


                        <div class="fields">

                            <div class="input-field">
                                {{form.category.label.as_hidden}}
                                {{form.category.as_hidden}}
                            </div>

                            <div class="input-field">
                                {{form.title.label.as_hidden}}
                                {{form.title.as_hidden}}
                            </div>

                            <div class="input-field">
                                {{form.description.label.as_hidden}}
                                {{form.description.as_hidden}}
                            </div>
                            <div class="input-field">
                                {{form.Proposed_price.label.as_hidden}}
                                {{form.Proposed_price.as_hidden}}
                            </div>

                            <div class="input-field">
                                {{form.deadline.label.as_hidden}}
                                {{form.deadline.as_hidden}}
                            </div>

                            <div class="input-field">
                                {{form.media}}
                                {{form.Submit_Description_report.as_hidden}}
                            </div>
            
                            <div class="input-field">
                                {{form.media}}
                                {{form.client_complaint|as_crispy_field}}
                            </div>
            

                            <br>
                            <div>
                                {{form.file.label.as_hidden}}
                                {{form.file.as_hidden}}
                            </div>
                            <br>

                        </div>


                        <button
                            class="bg-brightRedLight hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="submit">
                            Submit
                        </button>
                        <br>


                        {{form.errors}}
                    </div>

                </form>


            </footer>




            <script src="{%static 'js/script.js'%}"></script>

            <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
            <script src="https://kit.fontawesome.com/eee1c61c40.js" crossorigin="anonymous"></script>



            {%endblock %}