{%load static%}
{%block content%}
{% load static tailwind_tags %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SmallTasksOnline</title>
    <link rel="shortcut icon" href="{%static 'images/favicon.ico'%}">
    <title>Manage landing page</title>
    {% tailwind_css %}
</head>

<body>


    {%include 'tasks/main.html'%}
    {%include 'tasks/topbar.html'%}

    <button>
        <a class="hidden md:block md:ml-[300px]  bg-brightRedLight  hover:bg-gray-900 focus:shadow-outline focus:outline-none text-white font-bold py-3 mx-4 rounded-full"
            type="button" href="{%url 'dashboard'%}">Back to dashboard</a>
    </button>

    <div class="md:ml-[200px] text-left bg-white" id="Report-container">


        <h2 class="mx-auto text-2xl text-center mt-8 underline">We apologize for the inconvinience caused, the problem is being handled.
        </h2>

        <table class="mt-12 w-5/6 md:ml-[150px]" id="table">

            {%if not tasks%}
            <thead>
                <h2 class="text-xl mt-8 text-center">This page is for tasks you have complained not done as per. It seems there are none</h2>
            </thead>
            {%else%}
            <thead class="bg-gray-50 border-b-2 border-gray-200">
                <tr>
                    <th
                        class="hidden w-20 md:table-cell w-20 md:p-3 text-base text-center font-semibold tracking-wide text-center">
                        Title</th>
                    <th class="md:table-cell p-3 text-base text-center font-semibold tracking-wide">
                        Category</th>
                    <th
                        class="hidden md:table-cell  md:p-3 text-base text-center font-semibold tracking-wide text-center">
                        Deadline</th>
                    <th id="proposed-price"
                        class="hidden md:table-cell md:p-3 text-base text-center font-semibold tracking-wide text-center">
                        Proposed Price</th>
                    <th class="table-cell p-3 text-base w-20 text-center font-semibold tracking-wide text-center">Status
                  
            </thead>

            {%endif%}
            <tbody>
                {%for task in tasks%}

                <tr>
                    <td class="hidden md:table-cell md:table-cell md:w-20 text-center p-3 text-base text-gray-700">
                        {{task.title}}</td>
                    <td class="w-20 text-center whitespace-nowrap p-3 text-base text-gray-700">{{task.category}}</td>
                    <td id="deadline"
                        class="hidden md:table-cell md:table-cell md:w-20 text-center p-3 text-base text-gray-700">
                        {{task.deadline}}</td>
                    <td class="hidden md:table-cell md:table-cell md:w-20 text-center p-3 text-base text-gray-700">
                        {{task.Proposed_price}}</td>
                    <td class="w-25 text-center p-3 text-base text-gray-700" id="status">{{task.status}}</td>

                </tr>

                {%endfor%}



        </table>
    </div>

    <script src="{%static 'js/script.js'%}"></script>

</body>

</html>




{%endblock %}