{%load static%}
{%block content%}
{% load static tailwind_tags %}
{% load crispy_forms_tags %}





<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SmallTasksOnline</title>
    <link rel="shortcut icon" href="{%static 'images/favicon.ico'%}">
    <title>Manage landing page</title>
    {% tailwind_css %}
</head>


<body class="bg-white" id="">
    {%include 'tasks/main.html'%}
    {%include 'tasks/topbar.html'%}

    <div class="md:ml-[300px]" id="contactUs">
        <div class="flex w-full mt-4 justify-center items-center">
            <div
                class="flex flex-col md:flex-row md:space-x-6 md:space-y-0 space-y-6 bg-white text-black w-full max-w-4xl p-8 sm:p-12 rounded-xl shadow-lg overflow-hidden">


                <div class="flex flex-col space-y-8 justify-between">
                    <div>
                        <h1 class="font-bold text-4xl tracking-wide">Contact Us</h1>
                        <p class="pt-2 text-black text-base"> We are so excited to have you onboard with us and we aim
                            to
                            help you.
                            We are interested in ensuring all Your tasks are completed in the shortest time
                            possible
                            and
                            provide quality work. We have proffesionals all around the globe all with vast
                            qualifications in the fields provided and we would appreciate if you spread the word
                            to
                            your
                            colleague or friend and allow us to help them achieve all those miniature task fast.</p>
                    </div>



                    <input type="submit"
                        class="bg-white text-black text-white font-bold rounded-lg px-6 py-2 uppercase text-sm hover:bg-black hover:text-white"
                        value="APPLY TO JOIN SMALLTASKSONLINE">




                    <div class=" flex flex-col space-y-6">
                        <div class="inline-flex space-x-2 item-center">
                            <ion-icon name="call-outline" class="text-teal-300 text-xl"></ion-icon>
                            <span>0000000000</span>
                        </div>
                        <div class="inline-flex space-x-2 item-center">
                            <ion-icon name="globe-outline" class="text-teal-300 text-xl"></ion-icon>
                            <span>World Citizens</span>
                        </div>
                        <div class="inline-flex space-x-2 item-center">
                            <ion-icon name="mail-open-outline" class="text-teal-300 text-xl"></ion-icon>
                            <span>support@smalltasksonline.com</span>
                        </div>
                    </div>
                    <div class="flex space-x-4">
                        <a href="">
                            <img src="{%static 'images/icon-facebook.svg'%}" class="h-8" alt="">
                        </a>
                        <!-- link 2-->
                        <a href="">
                            <img src="{%static 'images/icon-youtube.svg'%}" class="h-8" alt="">
                        </a>
                        <!-- link 1 -->
                        <a href="">
                            <img src="{%static 'images/icon-twitter.svg'%}" class="h-8" alt="">
                        </a>

                        <!-- link 1 -->
                        <a href="">
                            <img src="{%static 'images/icon-instagram.svg' %}" class="h-8" alt="">
                        </a>
                    </div>
                </div>
                <div class="relative">
                    <div class="absolute z-0 w-40 h-40 bg-teal-400 rounded-full -right-20 -top-28">

                    </div>
                    <div class="absolute z-0 w-40 h-40 bg-teal-400 rounded-full -left-20 -bottom-16">

                    </div>

                    <div class="relative z-10 bg-white rounded-xl shadow-lg p-8 text-gray-600 md:w-80">
                        <form class="flex flex-col space-y-4 text-gray-600" method="POST">
                            {%csrf_token%}
                            <div>
                                <label for="" class="text-sm" required="required">Full Name</label>


                                <input type="text" name="full-name" id=""
                                    class="ring-1 ring-gray-300 w-full rounded-md mt-2 px-4 py-2 outline-none focus:ring-2 focus:ring-teal-300">
                            </div>
                            <div>
                                <div>
                                    <label for="" class="text-sm" required="required">Email</label>
                                </div>
                                <div>
                                    <input type="email" name="email" id=""
                                        class="ring-1 ring-gray-300 w-full mt-2 rounded-md px-4 py-2 outline-none focus:ring-2 focus:ring-teal-300">
                                </div>

                            </div>

                            <div>
                                <div>
                                    <label for="" class="text-sm" required="required">Subject/Topic</label>
                                </div>
                                <div>
                                    <input type="email" name="subject" id=""
                                        class="ring-1 ring-gray-300 w-full mt-2 rounded-md px-4 py-2 outline-none focus:ring-2 focus:ring-teal-300">
                                </div>

                            </div>
                            <div>
                                <div>
                                    <label for="" class="text-sm" required="required">Type Your Message...</label>
                                </div>
                                <div>
                                    <textarea name="message"
                                        class="ring-1 ring-gray-300 w-full mt-2 rounded-md px-4 py-2 outline-none focus:ring-2 focus:ring-teal-300"
                                        required="required" rows="4">
                                </textarea>
                                </div>
                                <input type="submit"
                                    class="inline-block self-end bg-cyan-700 text-white font-bold rounded-lg px-6 py-2 uppercase text-sm"
                                    value="Send Message">


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{%static 'js/script.js'%}"></script>
</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</html>


{% endblock %}