
{%load static%}
{%block content%}
{% load static tailwind_tags %}




<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{%static 'images/favicon.ico'%}">
	<title>SmallTasksOnline</title>
	{% tailwind_css %}
</head>

<body>
	<nav class="relative container mx-auto p-6">
		<!-- flex container -->

		<div class="flex item-center justify-between">
			<!-- logo -->
			<div class="max-w-xs max-h-0">
				<img src="{%static 'images/Smalltasksonline1.png'%}" class="" alt="">
				<!-- <img src="{%static 'images/logo.svg'%}" class="max-w-xs max-h-0.5" alt=""> -->
			</div>

			<div class="hidden md:flex space-x-6 mt-3">

				<!-- menu items -->
				<a href="#" class="hover:text-darkGrayishBlue">Home</a>
				<a href="#" class="hover:text-darkGrayishBlue">About-Us</a>
				<a href="#" class="hover:text-darkGrayishBlue">Our Skills</a>
				<a href="#" class="hover:text-darkGrayishBlue">Contact Us</a>


			</div>



			<!-- humburger icon -->
			<button id="menu-btn" class="block hamburger md:hidden focus:outline-none">
				<span class="hamburger-top"></span>
				<span class="hamburger-middle"></span>
				<span class="hamburger-bottom"></span>
			</button>
		</div>
		<!-- mobile menu -->
		<div class="md:hidden">
			<div id="menu"
				class="absolute flex-col items-center self-end hidden py-8 mt-10 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md">
				<a href="#" class="hover:text-darkGrayishBlue">Home</a>
				<a href="#" class="hover:text-darkGrayishBlue">About-Us</a>
				<a href="#" class="hover:text-darkGrayishBlue">Our Skills</a>
				<a href="#" class="hover:text-darkGrayishBlue">Log-In</a>
				<a href="#" class="hover:text-darkGrayishBlue">Sign-Up</a>

			</div>
		</div>
	</nav>


	<!-- feature section -->

	<section id="features">
		<!-- flex container -->
		<div class="container flex flex-col px-4 mx-auto mt-6 items-center space-y-12 md:space-y-0 md:flex-row">
			<!-- whats different -->
			<div class="flex flex-col space-y-12 md:w-1/2">
				<h2 class="max-w-md text-4xl font-bold text-center md:text-left"> What do we do at SmallTasksOnline?
				</h2>

				<p class="max-w-sm text-center text-darkGrayishBlue md:text-left">
					SmallTasksOnline is a community of academically skilled individuals from all over ther world
					dedicated to helping you complete academic or work-based tasks, such as assignments, essays,school
					problems, term-papers, and reports
				</p>

				<!-- button -->
				<div class="max-w-xs text-center">

					<a href="{%url 'register'%}"
						class="block p-2 px-4 pt-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight">Get
						Started</a>
						<br>
					<a href="{%url 'login'%}"
						class="block p-2 px-4 pt-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight">Login</a>
				</div>

			</div>
			<!--numbered list  -->

			<div class="flex flex-col space-y-8 md:w-1/2">
				<h1 class="hidden underline mb-4 text-lg text-center font-bold md:block"> WHY USE SMALLTASKSONLINE</h1>
				<!-- list item one -->
				<div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
					<!-- heading -->

					<div class="rounded-l-full bg-brightRedSupLight md:bg-transparent">

						<div class="flex items-center space-x-2">

							<div class="px-4 py-2 text-white rounded-full md:py-1 bg-brightRed">
								01

							</div>
							<h3 class="text-base font-bold md:mb-4 md:hidden">
								World Class Team
							</h3>
						</div>
					</div>
					<div>
						<h3 class="hidden mb-4 text-lg font-bold md:block"> World Class Team</h3>
						<p class="text-darkGrayishBlue">
							SmallTasksOnline team are all vetted based on academic and work progress, they have an
							average experience of more than three years with more than 50 clients and ensure to provide
							quality service
						</p>
					</div>
				</div>

				<!-- list item two -->
				<div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
					<!-- heading -->
					<div class="rounded-l-full bg-brightRedSupLight md:bg-transparent">
						<div class="flex items-center space-x-2">
							<div class="px-4 py-2 text-white rounded-full md:py-1 bg-brightRed">
								02

							</div>
							<h3 class="text-base font-bold md:mb-4 md:hidden">
								Flexible and Fast Services
							</h3>
						</div>
					</div>
					<div>
						<h3 class="hidden mb-4 text-lg font-bold md:block"> Flexible and Fast Services</h3>
						<p class="text-darkGrayishBlue">
							Based on specified deadline, the team handles and delivers the task on time and incase of
							any problem with the task, comminicated feedback back to the client to ensure the work is as
							per clients requirement
						</p>
					</div>
				</div>

				<!-- list item one -->
				<div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
					<!-- heading -->
					<div class="rounded-l-full bg-brightRedSupLight md:bg-transparent">
						<div class="flex items-center space-x-2">
							<div class="px-4 py-2 text-white rounded-full md:py-1 bg-brightRed">
								03

							</div>
							<h3 class="text-base font-bold md:mb-4 md:hidden">
								Payment Friendy
							</h3>
						</div>
					</div>
					<div>
						<h3 class="hidden mb-4 text-lg font-bold md:block"> Payment Friendy</h3>
						<p class="text-darkGrayishBlue">
							Payment is negotiable between our team and the client to ensure that it is friendly. It is
							done in dollars as the standard payment platform in the world
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- Testimonials -->

	<section id="testimonials">
		<!-- Container to heading and testimonial blocks -->

		<div class="max-w-6xl px-5 mx-auto mt-32 text-center">
			<!-- heading -->

			<h2 class="text-4xl font-bold text-white pt-5 underline text-center">
				What are our teams skills?
			</h2>
			<!-- Testimonials container -->
			<div class="flex flex-col mt-24 md:flex-row md:space-x-6">
				<!-- Testimonial 1 -->

				<div class="flex-col items-center p-6 space-y-6 mt-24 rounded-lg bg-veryLightGray md:flex md:w-1/3">
					<i class="fas fa-laptop-code fa-3x"></i>
					<h5 class="text-lg font-bold">Computer Programming</h5>
					<p class="text-sm text-darkGrayishBlue">

						Our team is proficient in languages such as Java, Elixir, Relational
						databases,R,Javascript,Python.

					</p>
				</div>
				<!-- Testimonial 2 -->

				<div class="flex-col items-center p-6 space-y-6 mt-24 rounded-lg bg-veryLightGray md:flex md:w-1/3">
					<i class="fas fa-business-time fa-3x"></i>
					<h5 class="text-lg font-bold">Business</h5>
					<p class="text-sm text-darkGrayishBlue">

						Balance sheets, trial balances and all that pertains business courses, our team is equipped

					</p>
				</div>
				<!-- Testimonial 3 -->

				<div class="mt-24  flex-col items-center p-6 space-y-6 rounded-lg bg-veryLightGray md:flex md:w-1/3">
					<i class="fa fa-calculator fa-3x"></i>
					<h5 class="text-lg font-bold">Statistical Analysis</h5>
					<p class="text-sm text-darkGrayishBlue">

						Statistics both mathematics and with languages such as R

					</p>
				</div>
			</div>
			<div class="flex flex-col mt-24 md:flex-row md:space-x-6">
				<!-- Testimonial 4 -->

				<div class="flex flex-col items-center p-6 space-y-6 rounded-lg bg-veryLightGray md:w-1/3">
					<i class="fas fa-code fa-3x"></i>
					<h5 class="text-lg font-bold">Web development</h5>
					<p class="text-sm text-darkGrayishBlue">

						Languages in Web development and also design of the applications

					</p>
				</div>
				<!-- Testimonial 5 -->

				<div class="hidden  flex-col items-center p-6 space-y-6 rounded-lg bg-veryLightGray md:flex md:w-1/3">
					<i class="fas fa-mobile-alt fa-3x"></i>
					<h5 class="text-lg font-bold">Android Tasks</h5>
					<p class="text-sm text-darkGrayishBlue">

						Languages such as Java, Kotlin, or mobile application development in general

					</p>
				</div>
				<!-- Testimonial 6 -->

				<div class="hidden flex-col items-center p-6 space-y-6 rounded-lg bg-veryLightGray md:flex md:w-1/3">
					<i class="fa fa-table fa-3x"></i>
					<h5 class="text-lg font-bold">Microsoft Office</h5>
					<p class="text-sm text-darkGrayishBlue">

						It includes all the Microsoft office stack tasks, such as Microsoft Word

					</p>
				</div>
			</div>
			<div class="flex flex-col mt-12 md:flex-row md:space-x-6">
				<!-- Testimonial 7 -->

				<div class="mt-24 flex-col items-center p-6 space-y-6 rounded-lg bg-veryLightGray md:flex md:w-1/3">
					<i class="fa-brands fa-windows fa-3x"></i>
					<h5 class="text-lg font-bold">Operating Systems</h5>
					<p class="text-sm text-darkGrayishBlue">

						Computer based tasks general from different operating systems

					</p>
				</div>
				<!-- Testimonial 8 -->

				<div class="mt-24 flex-col items-center p-6 space-y-6 rounded-lg bg-veryLightGray md:flex md:w-1/3">
					<i class="fa fa-coffee fa-3x"></i>
					<h5 class="text-lg font-bold">Essay Writin Services</h5>
					<p class="text-sm text-darkGrayishBlue">

						Transcription and Essay Writing

					</p>
				</div>
				<!-- Testimonial 3 -->


			</div>
			<!-- button -->
			<div class="my-16">
				<a href="{%url 'register'%}"
					class="p-3 px-6 pt-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight">Get
					Started</a>
			</div>
		</div>
	</section>

	<footer class="bg-veryDarkBlue">
		<div
			class="container flex flex-col-reverse justify-between px-6 py-10 mx-auto space-y-8 md:flex-row md:space-y-0">

			<!-- logo and social links container -->

			<div
				class="flex flex-col-reverse items-center justify-between space-y-12 md:flex-col md:space-y-0 md:items-start">

				<div class="mx-auto my-6 text-center text-white md:hidden">
					Copyright &copy; 2022,All Rights Reserved
				</div>
				<!-- logo -->

				<!-- social links container -->
				<div class="flex justify-center space-x-4">
					<!-- link 1 -->
					<a href="https://www.facebook.com/SmallTasksOnline">
						<img src="{%static 'images/icon-facebook.svg'%}" class="h-8" alt="">
					</a>
				
					<!-- link 1 -->
					<a href="https://twitter.com/Small_Tasks">
						<img src="{%static 'images/icon-twitter.svg'%}" class="h-8" alt="">
					</a>
					<!-- link 1 -->
					<a href="https://www.pinterest.com/smalltasks/">
						<img src="{%static 'images/icon-pinterest.svg'%}" class="h-8" alt="">
					</a>
					<!-- link 1 -->
					<a href="https://www.instagram.com/smalltasksonline/">
						<img src="{%static 'images/icon-instagram.svg'%}" class="h-8" alt="">
					</a>
				</div>
			</div>

			<!-- List container -->
			<div class="flex justify-around space-x-32">
				<div class="flex flex-col space-y-3 text-white">
					<a href="#" class="hover:text-brightRed">Home</a>
					<a href="#" class="hover:text-brightRed">Our Skills</a>
					<a href="#" class="hover:text-brightRed">About-Us</a>

				</div>
				<div class="flex flex-col space-y-3 text-white">
					<a href="{%url 'register'%}" class="hover:text-brightRed">Sign Up</a>
					<a href="{%url 'login'%}" class="hover:text-brightRed">Login</a>
					<a href="{%url 'register'%}" class="hover:text-brightRed">Contact Us</a>

				</div>
			</div>

			<!-- input container -->
			<div class="flex flex-col justify-between">
			
				<div class="hidden text-white md:block">
					Copyright &copy; 2022,All Rights Reserved
				</div>
			</div>
		</div>
	</footer>



	<!--- Script Source Files -->
	<script src="{%static 'js/script.js'%}"></script>
	<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
	<script src="https://kit.fontawesome.com/eee1c61c40.js" crossorigin="anonymous"></script>


</body>

</html>

{%endblock%}