{%load static%}
{%block content%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="shortcut icon" href="{%static 'images/favicon.ico'%}">
  <link rel="stylesheet" href="{%static 'css/style.css'%}">
  <title>SmallTasksOnline</title>
</head>

<body>
  <div id="container" class="container">
    <!-- FORM SECTION -->
    <div class="row">
      <!-- SIGN UP -->
      <div class="col align-items-center flex-col sign-up">
        <div class="form-wrapper align-items-center">
          <div class="form sign-up">
            <div>
              <i class='bx bxs-user'></i>
              <input type="text" placeholder="Username">
            </div>
            <div class="input-group">
              <i class='bx bx-mail-send'></i>
              <input type="email" placeholder="Email">
            </div>
            <div class="input-group">
              <i class='bx bxs-lock-alt'></i>
              <input type="password" placeholder="Password">
            </div>
            <div class="input-group">
              <i class='bx bxs-lock-alt'></i>
              <input type="password" placeholder="Confirm password">
            </div>
            <button>
              Sign up
            </button>
            <p>
              <span>
                Already have an account?
              </span>
              <b onclick="toggle()" class="pointer">

                <a href="" class="ml-2">Sign Up</a>
              </b>
            </p>
          </div>
        </div>
        <div class="form-wrapper">
          <div class="social-list align-items-center sign-up">
            <a href="https://www.facebook.com/SmallTasksOnline">
              <div class="align-items-center facebook-bg">

                <i class='bx bxl-facebook'></i>
              </div>
            </a>

            <a href="https://www.smalltasksonline.com/SmallTasksOnline">
              <div class="align-items-center google-bg">
                <i class='bx bxl-google'></i>
              </div>
            </a>

            <a href="https://twitter.com/Small_Tasks">
              <div class="align-items-center twitter-bg">
                <i class='bx bxl-twitter'></i>
              </div>
            </a>
            <a href="https://www.instagram.com/smalltasksonline/"></a>
            <div class="align-items-center insta-bg">
              <i class='bx bxl-instagram-alt'></i>
            </div>

          </div>
        </div>
      </div>
      <!-- END SIGN UP -->
      <!-- SIGN IN -->


      <div class="col align-items-center flex-col sign-in">
        <div class="form-wrapper align-items-center">
          <form method="POST" action="">
            {% csrf_token %}
            <div class="form sign-in">
              <img src="{%static 'images/Smalltasksonline1.png'%}" class="" alt="">
              <div class="input-group">
                <i class='bx bxs-user'></i>
                <input type="text" name="username" placeholder="Username">
              </div>
              <div class="input-group">
                <i class='bx bxs-lock-alt'></i>
                <input type="password" name="password" placeholder="Password">
              </div>
              <button style="width: 50%;">
                Login
              </button>
              <p>
                <b>
                  Forgot password?
                </b>
                <a href="{% url 'reset_password' %}" class="ml-2">Reset Password</a>
                </b>
              </p>
              <p>
                <span>
                  Don't have an account?
                </span>
                <b onclick="toggle()" class="pointer">

                  <a href="{%url 'register'%}" class="ml-2">Sign Up</a>
                </b>
              </p>
              </p>
              {% for message in messages %}
              <p id="messages" style="color: red; font-weight: bold;">{{message}}</p>
              {% endfor %}
            </div>
          </form>
        </div>
        <div class="form-wrapper">
          <div class="social-list align-items-center sign-in">
            <div class="align-items-center facebook-bg">
              <a href="https://www.facebook.com/SmallTasksOnline">
                <i class='bx bxl-facebook'></i>
              </a>
            </div>
            <div class="align-items-center google-bg">
              <a href="https://www.smallTasksOnline.com">
                <i class='bx bxl-google'></i>
              </a>
            </div>
            <div class="align-items-center twitter-bg">
              <a href="https://twitter.com/Small_Tasks">
                <i class='bx bxl-twitter'></i>
              </a>
            </div>
            <div class="align-items-center insta-bg">
              <a href="https://www.instagram.com/smalltasksonline/">
                <i class='bx bxl-instagram-alt'></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- END SIGN IN -->
    </div>
    <!-- END FORM SECTION -->
    <!-- CONTENT SECTION -->
    <div class="row content-row">
      <!-- SIGN IN CONTENT -->
      <div class="col align-items-center flex-col">
        <div class="text sign-in">
          <h2>
            Welcome back
          </h2>
          <p>
            We are glad you are back!!&#128151 Join us aboard and allow us to give you quality work. You are definately
            in the right place
          </p>
        </div>
        <div class="img sign-in">
          <img src="{%static 'images/undraw_different_love_a3rg.svg'%}" alt="welcome">
        </div>
      </div>
      <!-- END SIGN IN CONTENT -->

      <!-- SIGN UP CONTENT -->
      <div class="col align-items-center flex-col">
        <div class="img sign-up">
          <img src="{%static 'images/undraw_creative_team_r90h.svg'%}" alt="welcome">
        </div>
        <div class="text sign-up">
          <h2>
            Join with us
          </h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit obcaecati, accusantium
            molestias, laborum, aspernatur deserunt officia voluptatum tempora dicta quo ab ullam. Assumenda
            enim harum minima possimus dignissimos deserunt rem.
          </p>
        </div>
      </div>
      <!-- END SIGN UP CONTENT -->
    </div>
    <!-- END CONTENT SECTION -->
  </div>


  <script>
    let container = document.getElementById('container')

    toggle = () => {
      container.classList.toggle('sign-in')
      container.classList.toggle('sign-up')
    }

    setTimeout(() => {
      container.classList.add('sign-in')
    }, 200)
  </script>
</body>

</html>


{%endblock%}