{%load static%}
{%block content%}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style1.css'%}">
    <link rel="shortcut icon" href="{%static 'images/favicon.ico'%}">

    <link rel="apple-touch-icon" sizes="180x180" href="{%static 'images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{%static 'images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>SmallTasksOnline</title>
</head>

<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li style="margin-top:7px;">
                    <a href="#" class="navbar-brand"><img class="img" style=" height: 5rem;"
                            src="{%static 'images/SmallTasksLogo.png'%}">


                    </a>
                </li>

                <li>
                    <a class="btn {% if navbar == 'dashboard'%} active {%endif%}" href="{%url 'dashboard'%}">
                        <span class="icon">
                            <ion-icon name="planet-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>

                </li>

                <li>
                    <a class="btn {%if navbar == 'taskpool'%} active {%endif%}" href="{%url 'taskpool'%}">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Tasks Pool</span>
                    </a>

                </li>

                <li>
                    <a class="btn {%if navbar == 'create_Task'%} active {%endif%}" href="{% url 'create_Task'%}">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Give us a task</span>
                    </a>

                </li>
                <li>
                    <a class="btn {%if navbar == 'ContactUs'%} active {%endif%}" href="{% url 'ContactUs'%}">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Contact-Us</span>
                    </a>

                </li>
                <li>
                    <a class="btn {%if navbar == 'user-page'%} active {%endif%}" href="{% url 'user-page'%}">
                        <span class="icon">
                            <ion-icon name="person-remove-outline"></ion-icon>
                        </span>
                        <span class="title">Profile</span>
                    </a>

                </li>




            </ul>
        </div>



        <!-- main -->



    </div>


</body>

</html>


{%endblock %}