{%load static%}
{%block content%}
{% load static tailwind_tags %}
{% load crispy_forms_tags %}




<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="apple-touch-icon" sizes="180x180" href="{%static 'images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{%static 'images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'images/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>SmallTasksOnline</title>
    <link rel="shortcut icon" href="{%static 'images/favicon.ico'%}">
    {% tailwind_css %}
</head>

<body class="bg-white font-[Poppins]">

    <section class="container flex flex-col px-4 mx-auto mt-6 items-center text-center" id="cardbox">

        <div class="">
            <img src="{%static 'images/Smalltasksonline1.png'%}" class="" alt="">


            <h2 class="max-w-md text-4xl font-bold text-center md:text-left"> Password Reset Complete
            </h2>


            <p class="mt-8 max-w-sm text-center text-black">Your password has been reset. You may go ahead and log in
                now.</P>

            <a href="{%url 'login'%}"
                class=" max-w-sm mt-8 block p-2 px-4 pt-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight">Login</a>
        </div>
    </section>
</body>

{%endblock%}