{%load static%}
{%block content%}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="{%static 'images/favicon.ico'%}">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">

    <title>SmallTasksOnline</title>

    <title>

    </title>
</head>

<body>

    <div id="container" class="container">


        <!-- FORM SECTION -->
        <form method="POST" action="">

            {%csrf_token%}
            <div class="row">
                <!-- SIGN UP -->
                <div class="col align-items-center flex-col sign-up">


                    <div class="form-wrapper align-items-center">
                        <div class="form sign-up">

                            <div class="input-group">
                                <i class='bx bxs-user'></i>
                                <div class="in">
                                    <input type="text" name="username" placeholder="username" required>

                                </div>
                            </div>
                            <div class="input-group">
                                <i class='bx bx-mail-send'></i>


                                {{form.email}}

                            </div>
                            <div class="input-group">
                                <i class='bx bxs-lock-alt'></i>


                                {{form.password1}}

                            </div>
                            <div class="input-group">
                                <i class='bx bxs-lock-alt'></i>


                                {{form.password2}}

                            </div>
                            <button>
                                Sign up
                            </button>
                           
                            <p>
                                <span>
                                    Already have an account?
                                </span>
                                <b onclick="toggle()" class="pointer">

                                    <a href="{% url 'login' %}" class="ml-2">Sign In</a>
                                </b>
                            </p>
                            <button style="margin-top: 2px ; color: white;background-color: hsl(12,88%,69%); padding: .6rem 0; border-radius: 4px;">
                                <a style="text-decoration: none;" href="{% url 'launchpage' %}" >BACK TO HOMEPAGE

                                </a>

                            </button>
                        </div>
                    </div>
                    <div class="form-wrapper">
                        <div class="social-list align-items-center sign-up">

                            <div class="align-items-center facebook-bg">
                                <a href="https://www.facebook.com/SmallTasksOnline">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </div>
                            </a>
                            <div class="align-items-center google-bg">
                                <a href="https://www.smalltasksonline.com">
                                    <i class='bx bxl-google'></i>
                                </a>
                            </div>
                            <div class="align-items-center twitter-bg">
                                <a href="https://twitter.com/Small_Tasks">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </div>
                            <div class="align-items-center insta-bg">
                                <a href="https://www.instagram.com/smalltasksonline/">
                                    <i class='bx bxl-instagram-alt'></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END SIGN UP -->


                <!-- SIGN IN -->
                <div class="col align-items-center flex-col sign-in">
                    <div class="form-wrapper align-items-center">
                        <div class="form sign-in">
                            <div class="input-group">
                                <i class='bx bxs-user'></i>
                                <input type="text" placeholder="Username">
                            </div>
                            <div class="input-group">
                                <i class='bx bxs-lock-alt'></i>
                                <input type="password" placeholder="Password">
                            </div>
                            <button>
                                Sign in
                            </button>
                            <p>
                                <b>
                                    Forgot password?
                                </b>
                            </p>
                            <p>
                                <span>
                                    Don't have an account?
                                </span>
                                <b onclick="toggle()" class="pointer">

                                    <a href="" class="ml-2">Sign Up</a>

                                </b>
                            </p>
                        </div>
                    </div>
                    <div class="form-wrapper">
                        <div class="social-list align-items-center sign-in">
                            <div class="align-items-center facebook-bg">
                                <i class='bx bxl-facebook'></i>
                            </div>
                            <div class="align-items-center google-bg">
                                <i class='bx bxl-google'></i>
                            </div>
                            <div class="align-items-center twitter-bg">
                                <i class='bx bxl-twitter'></i>
                            </div>
                            <div class="align-items-center insta-bg">
                                <i class='bx bxl-instagram-alt'></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END SIGN IN -->
            </div>
            <!-- END FORM SECTION -->
            <!-- CONTENT SECTION -->
            <div class="row content-row">
                <!-- SIGN IN CONTENT -->
                <div class="col align-items-center flex-col">
                    <div class="text sign-in">
                        <h2>
                            Welcome back
                        </h2>
                        <p>
                            We are glad you are back!!&#128151 Join us aboard and allow us to give you quality work. You
                            are definately in the right place
                        </p>
                    </div>
                    <div class="img sign-in">
                        <img src="{%static 'images/undraw_different_love_a3rg.svg'%}" alt="welcome">
                    </div>
                </div>
                <!-- END SIGN IN CONTENT -->

                <!-- SIGN UP CONTENT -->

                <div class="col align-items-center flex-col">
                    <div class="img sign-up">
                        <img src="{%static 'images/undraw_creative_team_r90h.svg'%}" alt="welcome">
                    </div>

                 
                    <div class="text sign-up">



                        <h3 style="margin-top:62px; ">
                            Welcome to SmallTasksOnline
                        </h3>


                        <p style="margin-top: 24px;">
                            Welcome to SmallTasksOnline!!! &#128151 &#128151. We are a team from all over the world
                            dedicated to delivering high end tasks for all our clients. Welcome, Register in the form
                            and Join the team.
                        </p>
                    </div>
                </div>
                <!-- END SIGN UP CONTENT -->
            </div>
            <!-- END CONTENT SECTION -->
        </form>
    </div>

    <script>

        // Query All input fields
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder = 'Username..';
        form_fields[2].placeholder = 'Email..';
        form_fields[3].placeholder = 'Enter password...';
        form_fields[4].placeholder = 'Re-enter Password...';


        for (var field in form_fields) {
            form_fields[field].className += ' form-control'
        }


        let container = document.getElementById('container')

        toggle = () => {
            container.classList.toggle('sign-in')
            container.classList.toggle('sign-up')
        }

        setTimeout(() => {
            container.classList.add('sign-up')
        }, 200)
    </script>
</body>

</html>

{%endblock%}