{%block content%}
{%load static%}
{%include 'tasks/main.html'%}

<style>
    form {
        all: initial;
    }
</style>


<!-- main -->



<div class="main">
    {%include 'tasks/topbar.html'%}
    <div class="details">
     
        <div class="recentOrders">
        
            <table class="table-1">

                {%if not tasks%}
                <thead>
                    <h2>None of your tasks has any complaint. If any they will appear here</h2>
                </thead>
                {%else%}
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Deadline</th>
                        <th>Proposed Price</th>
                        <th>Status</th>
                        <th>View</th>
                    </tr>
                </thead>

                {%endif%}
                <tbody>
                    {%for task in tasks%}

                    <tr>
                        <td>{{task.title}}</td>
                        <td>{{task.category}}</td>
                        <td>{{task.deadline}}</td>
                        <td>{{task.Proposed_price}}</td>
                        <td>{{task.status}}</td>
                        <td><a class="btn btn-info" id="view" href="{%url 'Reportviewtasks' task.id %}">View-Task</a></td>

                    </tr>

                    {%endfor%}
                </tbody>


            </table>
        </div>
    </div>
</div>




{%endblock %}