{%load static%}
{%block content%}
{% load static tailwind_tags %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}






<body>
    {%include 'tasks/main.html'%} -->
    {%include 'tasks/topbar.html'%}



    <!--Contact form-->

    <div class="w-5/6 mx-2 my-2 md:w-1/2 mt-12 mx-auto md:ml-[310px]">

        <h2 class="text-center text-2xl">Fill in your Task details </h2>


        <form method="POST" enctype="multipart/form-data" class="w=5/6">

            {% csrf_token %}
            <div>
                {{form.category|as_crispy_field}}
            </div>
            <div>
                {{form.title|as_crispy_field}}
            </div>
            
        
            <div class="">
                {{form.media}}
                {{form.description|as_crispy_field}}
            </div>

        
            <div>
                Currency($) i.e dollars
                {{form.Proposed_price|as_crispy_field}}
            </div>
            <div>
                E.g mm/dd/yyyy hh:mm:(AM/PM)
                {{form.deadline|as_crispy_field}}
            </div>
            <div>
                <h3 class="text-xl underline">Attach any files or image necessary to do the work effeciently Below</h3>
                {{form.file|as_crispy_field}}
            </div>

            <button
                class="bg-brightRedLight hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">
                Submit
            </button>


        </form>
    </div>




    {{form.errors}}





    <script src="{%static 'js/script.js'%}"></script>

</body>


{%endblock %}