{%block content%}
{%load static%}
{%include 'tasks/main.html'%}

<style>

form{
    all: initial;
}
</style>


<!-- main -->

<div class="main">
    {%include 'tasks/topbar.html'%}
    <div class="details">
        <form action="" method="get">
            {{myFilter.form}}
            <input type="submit" value="Search" class="btn btn-primary">
        </form>
        <div class="recentOrders">
            <div class="cardHeader">
                <h2>Work given/to do</h2>
            </div>
            <table class="table-1">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Deadline</th>
                        <th>Proposed Price</th>
                        <th>Status</th>
                        <th>View</th>
                    </tr>
                </thead>

                <tbody>
                    {%for task in tasks%}
                    {%if task.status == "Claimed"%}
                    <tr>
                        <td>{{task.title}}</td>
                        <td>{{task.category}}</td>
                        <td>{{task.deadline}}</td>
                        <td>{{task.Proposed_price}}</td>
                        <td>{{task.status}}</td>
                        <td><a class="btn btn-info" style="background:red;">In-Progress</a></td>
                    </tr>

                    {%elif task.status == "Submitted"%}
                    <tr>
                        <td>{{task.title}}</td>
                        <td>{{task.category}}</td>
                        <td>{{task.deadline}}</td>
                        <td>{{task.Proposed_price}}</td>
                        <td>{{task.status}}</td>
                        <td><a class="btn btn-info" style="background:green;">Completed</a></td>
                    </tr>

                    {%elif task.status == "Paid"%}
                    <tr>
                        <td>{{task.title}}</td>
                        <td>{{task.category}}</td>
                        <td>{{task.deadline}}</td>
                        <td>{{task.Proposed_price}}</td>
                        <td>{{task.status}}</td>
                        <td><a class="btn btn-info" style="background:green;">Paid-Task</a></td>
                    </tr>

                    {%else%}

                    <tr>
                        <td>{{task.title}}</td>
                        <td>{{task.category}}</td>
                        <td>{{task.deadline}}</td>
                        <td>{{task.Proposed_price}}</td>
                        <td>{{task.status}}</td>
                        <td><a class="btn btn-info" id="view" href="{%url 'viewtasks' task.id %}">View-Task</a></td>

                    </tr>
                    {% endif %}
                    {%endfor%}
                </tbody>


            </table>
        </div>
    </div>
</div>




{%endblock %}