{%load static%}

{%block content%}

{%include 'tasks/main.html'%}
n="anonymous">


<style>
    .profile-pic {
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
        border-radius: 50%;
        display: flex;
        align-items: center;
    }

    .profile {

        margin-left: 35%;
    }

    input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 15px;

    }
</style>

<div class="main">
    {%include 'tasks/topbar.html'%}
    <h3 style="text-align:center">Account Settings</h3>
    {% if request.user.client.picture %}
    <img src="{{request.user.client.picture.url}}" alt="" class="profile-pic">

    {%else%}

    <img src="{{profile_pic.jpg}}" alt="" class="profile-pic">

    {%endif%}
    <div class="profile">
        <form action="" method="POST" enctype="multipart/form-data" class="">
            {%csrf_token%}

            <form method="POST" action="">
                {%csrf_token%}
                <div class="input-group">

                    {{form.as_p}}
                    <input type="submit" name="Update Information" class="btn btn-primary">


                </div>
    </div>
</div>
</div>

</form>



{%endblock%}