{%load static%}
{%block content%}
{% load static tailwind_tags %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SmallTasksOnline</title>
    <link rel="shortcut icon" href="{%static 'images/favicon.ico'%}">
    <title>Manage landing page</title>
    {% tailwind_css %}
</head>

<body>


    {%include 'tasks/main.html'%}
    {%include 'tasks/topbar.html'%}



    <div class="max-w-4xl md:ml-[330px] text-left bg-white" id="claimed-container">
        <button>
            <a class="hidden md:block bg-brightRedLight  hover:bg-gray-900 focus:shadow-outline focus:outline-none text-white font-bold py-3 mx-4 rounded-full"
                type="button" href="{%url 'dashboard'%}">Back to dashboard</a>
        </button>
        <!-- The grid parent -->
        <div class="mt-12 auto container grid grid-cols-5">
            <!-- Header section -->
            <header class="col-span-5 p-10 bg-amber-200">
                <h2 class="text-center text-2xl">TITLE: {{task.title}}</h2>
                <div class="text-center">

                    <span class="underline text-xl ">
                       Below is your done work
                    </span>

                </div>


            </header>


            <main class="col-span-10 md:col-span-5 h-96 p-10 bg-blue-200">
                <h1 class="text-center text-2xl">Description</h1>
                <p class="text-xl"> {{task.description|safe}}</p>

                <hr class="my-2 text-black">
                <hr class="my-2 text-black">
                <h1 class="text-center text-2xl">Details</h1>

                <table class="mt-4 w-full mx-auto" id="table">
                    <thead class="bg-gray-50 border-b-2 border-gray-200">
                        <tr>

                            <th
                                class="hidden md:table-cell  md:p-3 text-base text-center font-semibold tracking-wide text-center">
                                Category</th>
                            <th
                                class="md:table-cell  md:p-3 text-base text-center font-semibold tracking-wide text-center">
                                Deadline</th>
                            <th id="proposed-price"
                                class="md:table-cell md:p-3 text-base text-center font-semibold tracking-wide text-center">
                                Proposed Price</th>
                            <th id="proposed-price"
                                class="hidden md:table-cell md:p-3 text-base text-center font-semibold tracking-wide text-center">
                                Status</th>
                            <th id="proposed-price"
                                class="md:table-cell md:p-3 text-base text-center font-semibold tracking-wide text-center">
                                Download documents</th>

                    </thead>

                    <tbody>


                        <tr>


                            <td class="hidden md:table-cell md:w-25 text-left p-3 text-base text-gray-700">
                                {{task.category}}
                            </td>
                            <td class="md:table-cell md:w-25 text-left p-3 text-base text-gray-700">
                                {{task.deadline}}
                            </td>
                            <td class="md:table-cell md:w-15 text-left p-3 text-base text-gray-700">
                                {{task.Proposed_price}}</td>
                            <td class="hidden md:table-cell md:w-15 text-left p-3 text-base text-gray-700">
                                {{task.status}}</td>
                            <td class="w-20 text-left p-3 text-base text-gray-700">
                                {% if task.file %}
                                <a href=" {{task.file.url}}"
                                    class="w-20 p-1.5 text-base font-medium uppercase tracking-wider whitespace-nowrap bg-green-700 rounded-lg bg-opacity-50">Donwload
                                    Documents</a>
                                {% else %}
                                <p>The work has no files attached</p>
                                {%endif%}


                            </td>
                        </tr>

                    </tbody>
                </table>



            </main>



            <footer class="col-span-5 p-10 bg-blue-200">
                <h1 class="text-center text-2xl underline">SUBMITED TASK BELOW</h1>
                <h2 class="mt-12 text-center text-2xl underline"> Below is an image preview of your task, Pay the task
                    via Paypal to download your documents</h2>

                    {% if task.Submit_Image %}
                <div class="flex justify-center">
                    <img class=" mt-12 max-w-xs max-h-44 " src="{{task.Submit_Image.url}}" alt="Task Image">

                </div>
                {% else %}
                <p class="mt-12 text-center text-2xl text-gray-700" >Image was not necessary for this work</p>
                {%endif%}



                

                
    <!-- PAYPAL PAYMENT -->

    {%if task.status == "Submitted"%}
    <br />
    <center>
        <div>
            <h1 class="text-xl">Checkout</h1>
            <h1 class="text-2xl underline mb-12 ">Kindly submit payment for the download button to appear</h2>

            <div id="paypal-button-container"></div>

        </div>

    </center>
    {%else%}
    <br />
    <center>
        <div>

            <br />
            <h1 style="text-decoration:underline">Description from the taskhandler</h1>
            <br />
    </center>
    <p>{{task.Submit_Description}}</p>
    <center>
        <br />
        <h1>Download Your Task Below</h1>
        <br />
       
        <a href=" {{task.Submit_Files.url}}"
        class="w-20 p-1.5 text-base font-medium uppercase tracking-wider whitespace-nowrap bg-green-700 rounded-lg bg-opacity-50">Donwload WORK
        Documents</a>
    </center>
    {% endif %}

    {%if task.status == "Paid"%}
    <div class="mt-12 block justify-center">
        <a href="{%url 'ClientPage' task.id %}">
            <i style="color:red;" class="fa fa-flag fa-3x" aria-hidden="true"></i>
            <span class="underline text-xl hover:text-2xl">
                Flag this task if there is a task that was not done at per. The task will be sent back to our team. Our team will have a look at it.
            </span>
        </a>
    </div>

    {%else%}
    {%endif%}


</div>

<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
<script src="https://kit.fontawesome.com/eee1c61c40.js" crossorigin="anonymous"></script>


<script
    src="https://www.paypal.com/sdk/js?client-id=AXZXmCXSrN3GMOmsuviGa3OJATI0dfHflRnDcB2tQjjuSa__0tB6T3chZX9arsbu5Wyvi-dCV7HKzyeR&currency=USD"></script>

<script>

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    var total = '{{task.Proposed_price}}'
    var TaskID = '{{task.id}}'

    function completeTask() {
        var url = "{%url 'complete'%}"

        fetch(url, {
            method: 'POST',
            headers: {
                'content-type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'TaskID': TaskID })
        })

    }
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        style: {
            color: 'blue',
            shape: 'pill',
            label: 'pay',
            height: 40
        },
        // Set up the transaction
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: total
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (orderData) {
                // Successful capture! For demo purposes:
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];
                completeTask()
                alert('Transaction ' + transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');


                // Replace the above to show a success message within this page, e.g.
                // const element = document.getElementById('paypal-button-container');
                // element.innerHTML = '';
                // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                // Or go to another URL:  actions.redirect('thank_you.html');
            });
        }


    }).render('#paypal-button-container');
</script>

</html>

















<!-- END OF PAYPAL PAYMENT -->







            </footer>
























        </div>

        <script src="{%static 'js/script.js'%}"></script>



        {%endblock %}